body {
  background-color: rgb(248, 84, 25);
}

.container {
  position: absolute;
  background-color: whitesmoke;
  border: 2px solid black;

  top: 190px;
  left: 575px;
  
  border-radius: 5px;
  width: 550px;
  height: 360px;
}

input {
  width: 500px;
  height: 30px;
  margin-left: 20px;
}

label {
  padding-left: 20px;
}

form {
  margin-top: 30px;
}

h1 {
  text-align: center; 
  margin-top: 80px;
}

button {
  height: 30px;
  width: 150px;
  margin: -5px 0px 0px 200px;
}